Practicas/Practica15/ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">



<!-- definition of simple elements -->
<xs:element name="Título" type="xs:string"/>
<xs:element name="Autores" type="xs:string"/>
<xs:element name="Editorial" type="xs:string"/>


<!-- definition of complex elements -->
<xs:element name="Libro">
 <xs:complexType>
 <xs:sequence>
 <xs:element ref="Título"/>
 <xs:element ref="Autores" maxOccurs="unbounded"/>
  <xs:element ref="Editorial"/>
 </xs:sequence>
 </xs:complexType>
</xs:element>




</xs:schema>